Nos

   1: IP = 10.0.0.2, Porta = 5000;

   2: IP = 10.0.0.2, Porta = 5001;

   3: IP = 10.0.0.3, Porta = 5000;

   4: IP = 10.0.0.4, Porta = 5000;

Enlaces

   1 -> 2, MTU = 2000;

   2 -> 1, MTU = 1000;

   2 -> 3, MTU = 5000;

   3 -> 2, MTU = 5000;

   2 -> 4, MTU = 2000;

   4 -> 2, MTU = 2000;

   3 -> 4, MTU = 2000;

Fim 
